<acacia-container style="display: flex; opacity: 1;">
    <style>
        /* #region POSTS */
        .home-page text-label {
            cursor: pointer;
            width: fit-content;
            white-space: nowrap;
            border-radius: 5px;
        }

        .home-page text-label:hover {
            color: var(--Foreground);
        }

        .home-page text-label.active {
            background-color: var(--BackgroundElementHover);
        }

        .home-page .home-btns {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }

        .home-page .home-btns img {
            width: 20%;
            cursor: pointer;
        }

        .home-page .home-btns img:hover {
            scale: 0.9;
            opacity: 0.66;
            transform: translateY(-10px);
            filter: grayscale(1);
        }

        .home-page .home-titlebar {
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            border-bottom: var(--ForegroundElementHover) 1px solid;
            display: grid;
            grid-template-columns: auto 1fr auto auto auto;
        }

        .home-page .titlebar-btn {
            height: 32px;
            width: 32px;
            padding: 4px;
            cursor: pointer;
            opacity: 0.5;
        }

        .home-page .titlebar-btn:hover {
            opacity: 1;
        }

        .home-page .home-titlebar img {
            height: 24px;
        }

        .home-page .home-footerbar {
            width: 100%;
            border-top: var(--ForegroundElementHover) 1px solid;
            font-size: 0.8em;
            white-space: nowrap;
            overflow: hidden;
            height: fit-content;
        }

        .home-page {
            width: 80%;
            height: 80%;
            max-width: 80vh;
            max-height: 80vw;
            position: relative;
            display: grid;
            grid-template-rows: 32px 1fr 24px;
            padding: 5px;
            gap: 5px;
            box-shadow: 0 0 25px var(--Black);
            border-radius: 20px;
            background-color: var(--Background);
        }

        .home-page .content-view {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-rows: auto 1fr auto;
            overflow-y: auto;
        }

        /* #endregion*/
    </style>
    <grid-column class="home-page">
        <grid-row class="home-titlebar">
            <span>
                <img src="">
            </span>
            <span>
                <img src="">
            </span>
            <span>
                <img src="">
            </span>
            <span class="titlebar-btn" onclick="Renderer.MyProfile()">
                <img src="/files/default.svg">
            </span>
            <span class="titlebar-btn" onclick="Renderer.Notifications()">
                <img src="/files/notification.svg">
            </span>
        </grid-row>
        <style>
            .home-page img {
                user-select: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
            }
        </style>
        <grid-column class="content-view">
            <img src="/files//conjunto_branco.svg" style="
                    width: 30%;
                    margin-block: 15px;
                    user-select: none;
                    -webkit-user-drag: none;">
            <div class="home-btns">
                <img src="/files/home/i01.svg" onclick="Renderer.Chat();">
                <img src="/files/home/i02.svg" onclick="Renderer.ThreeD()">
                <img src="/files/home/i03.svg" onclick="Renderer.Courses()">
                <img src="/files/home/i04.svg" onclick="Renderer.Radio()">
                <img src="/files/home/i05.svg" onclick="Renderer.ChatPlus()">
                <img src="/files/home/i06.svg" onclick="Renderer.News()">
                <img src="/files/home/i07.svg" onclick="Renderer.Ads()">
                <img src="/files/home/i08.svg" onclick="Renderer.Help()">
            </div>
            <grid-column style="width: 90%;">
                <text-paragraph style="text-align: center; font-size: 0.9em;">Pensamento do dia: <span id="quote"
                        style="font-weight: bold;">A melhor vitória se obtém na batalha que não
                        foi
                        travada.</span></text-paragraph>
            </grid-column>
        </grid-column>
        <grid-row class="home-footerbar" style="justify-content: center;">
            <text-label onclick="window.open(`http://www.jorgesouza.com.br`)">Desenvolvido por: Jorge Souza Oliveira dos
                Santos</text-label>
        </grid-row>
    </grid-column>
</acacia-container>